<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
<!--        <title>Selamat datang</title>-->
        <title layout:title-pattern="@CONTENT_TITLE - @LAYOUT_TITLE">Spring App</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link th:href="@{/css/adminlte.css}" rel="stylesheet"/>
        <link rel="stylesheet" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    </head>
    <body>

        <div class="wrapper">
            <div class="preloader flex-column justify-content-center align-items-center" style="height: 0px;">
                <img class="animation__shake" th:src="@{/img/AdminLTELogo.png}" alt="AdminLTELogo" height="60" width="60" style="display: none;">
            </div>

            <nav th:replace="topnav :: topnav2"></nav>

            <aside th:replace="sidebar :: sidebar1"></aside>

            <div layout:fragment="body" class="content-wrapper">

            </div>
        </div>

<!--        <section layout:fragment="body2"></section>-->
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>